.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#pnlBody {
    padding: 0;
}

    #pnlBody .btn {
        margin-top: 2px;
    }

.header .panel-heading {
    color: #fff;
    background-color: #428bca;
    background-image: none;
}

    .header .panel-heading a {
        color: #fff;
    }

.panel-body .col-xs-4 .btn-block, .panel-body .col-xs-12 .btn-block {
    line-height: 90px;
}

ul#dataLst {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.panel-body .btn-block .text-left .img-thumbnail {
    margin-left: 4px;
}

.panel-body .btn-block .text-left p {
    line-height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

#dataLst .glyphicon {
    position: static;
    top: 50%;
    margin-top: -7px;
}

#dataLst .text-left {
    word-wrap: break-word;
    word-break: normal;
}

.red {
    color: #FF0000;
}

.panel-body .col-xs-12 .loading .btn-block {
    line-height: 20px;
}

#accordion .panel-heading {
    padding: 0px;
    background-color: transparent;
}

#accordion .panel + .panel {
    margin: 0px;
}

#accordion .btn {
    text-align: left;
    margin: 0px;
}

#accordion .panel-heading a {
    color: #333;
}

.carousel .item {
    text-align: center;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#map {
    width: 100%;
    height: 270px;
}

.form {
    margin: 10px;
}

.highlight {
    margin: 10px;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.list-group {
    margin: 0px;
}

.list-group .list-group-item h4 {
    line-height: 24px;
}

.list-group .list-group-item p {
    font-size: 12px;
}

.content {
margin: 10px;
}

.content h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.content .introduction {
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    padding-bottom: 5px;
}

.content .newscontent {
    line-height: 30px;
    font-size: 13px;
}
